footer {
  background-color: #000000;
  padding: 4rem 2rem;
  text-align: center;
  border-top: 2px solid rgb(255, 253, 253);
}

p {
  font-size: 1.6rem;
  color: #fff
}

img{
  width: 20px;
}
a{
  font-size: 20px;
  padding: 5px;
  color: #fff;
}