@import url("https://fonts.googleapis.com/css2?family=Stoke:wght@300&display=swap");


form{
  font-size: 60px;
    background-color: black;
    color: rgb(3, 3, 3);
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  gap: 40px;
  font-family: "Stoke", serif;
  text-align: center;
  margin-bottom: 12%;
}
label{
  font-size: 70px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
input {
  font-size: 60px;
    border-width: 0;
    border-bottom-width: 2px;
}
select{
  font-size: 60px;
}

button {
  font-size: 60px;
    border-width: 0;
    width: 270px;
    height: 100px;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      background-color: orange;
      color: black;
    }
  }
