<form novalidate (ngSubmit)="onSubmit()" [formGroup]="productForm">
    <div>
        <label for="title">Nombre del Articulo</label>
        <input type="text" id="title" formControlName="title">
    </div>
    <div>
        <label for="price">Precio</label>
        <input type="number" id="price" formControlName="price">
    </div>
    <div>
        <label for="description">Descripción</label>
        <textarea id="description" formControlName="description"></textarea>
    </div>
    <div>
        <label for="image">Imagen</label>
        <input type="text" id="image" formControlName="image">
    </div>
    <div>
        <label for="category">Categoria</label>
        <select id="category" formControlName   ="category">
            <option value="clothes">ropa</option>
            <option value="accessories">accesorios</option>
            <option value="others">otros</option>
        </select>
    </div>
    <button type="submit">Crear</button>
    
</form>